body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
     background-color: #000000;

}
body {
  background-image: url('/path/to/image.jpg');
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
}

section {
    margin: 2em 0;
}

.project {
    border: 1px solid #ddd;
    margin: 1em auto;
    padding: 1em;
    max-width: 600px;
    text-align: left;
}

footer {
    background-color: #f1f1f1;
    padding: 1em 0;
}
